{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/media/styles/commentView.css" />
    <title>Post: {{ post.post }}</title>
</head>
<body>
{% include 'nav.html' %}
<div class="card text-center" style="max-width: 50%; margin: 2% 25%;">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post.post }}</h5>
            <img src="{{ post.upload.url }}" class="card-img">
            comments number: {{ nb }}
            <ul class="list-group">
                {% for cmnt in post.cmnts.all %}
                <a href="/{{ cmnt.id }}/repliesView">
                    <li class="list-group-item list-group-item-action" >
                    {{cmnt.comment}}
                    <p class="text-muted">{{ cmnt.createdAt }}</p>
                </li>
                </a>
                <span class="badge badge-primary badge-pill" >{{cmnt.replies.all|length}}</span>
                <br>
                {% endfor %}
                <h3><a href="/{{ post.id }}/addComment/">Add a comment</a></h3>
            </ul>
        </div>
        <div class="card-footer text-muted">
            {{post.createdAt}}
        </div>
    </div>

</body>
</html>