{% extends 'base.html' %}


        {% block nav-bar %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                     <a class="nav-link" href="{% url 'Home' %}">Home </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item ">
                     <a class="nav-link" href="{% url 'addpost' %}">Add Post</a>
                </li>
                {% endif %}
            </ul>
                <span class="navbar-text">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="nav-item ">
                             <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        </li>
                        {% else %}
                        <li class="nav-item ">
                             <a class="nav-link" href="{% url 'login' %}">Log in</a>
                        </li>
                        <li class="nav-item ">
                             <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </span>


        {% endblock %}



{% block content %}
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
            {{ comnt.comment }}
            <p>
                {{ comnt.createdAt }}<br> by {{ comnt.user }}
            </p>
        </button>
        {% for rep in replies %}
            <a href="/repliesView/{{ rep.id }}/">
                <button type="button" class="list-group-item list-group-item-action">
                    <li>
                        {{ rep.comment }}
                        <p>
                            {{ comnt.createdAt }}<br> <p class="text-muted">by {{ cmnt.user }}</p>
                        </p>
                    </li>
                </button>
                <span class="badge badge-primary badge-pill" >{{rep.replies.all|length}}</span>
            </a>
        {% endfor %}
        <a href="/addReply/{{comnt.id}}/">Reply</a>
    </div>
{% endblock %}